<header>
		<div class="has-text-centered"><!--กำหนดcenterของข้อความ-->
			<img src="/assets/images/logo.png" alt="" width="145" height="auto"><!--เพิ่มรูปและกำหนดขนาด-->
		</div>
			
		<nav class="navbar-tabs"><!--ใช้ทำเมนูบาร์-->
			<a href="#" class="navbar-item">WORK</a>
			<a href="#" class="navbar-item">WORK</a>
			<a href="#" class="navbar-item">WORK</a>
			<a href="#" class="navbar-item">WORK</a>
			<a href="#" class="navbar-item">WORK</a>
			<a href="#" class="navbar-item">WORK</a>
			<a href="#" class="navbar-item">WORK</a>
			<a href="#" class="navbar-item">WORK</a>
			<a href="#" class="navbar-item">WORK</a>
			<a href="#" class="navbar-item">WORK</a>
		</nav>
	</header>